
@model RentACarApp.ViewModels.VehicleModel

@{
    ViewData["Title"] = "MyConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>MyConfirm</h1>


<div>
    <h4>You have selected following vehicle</h4>
    <hr />
    <a asp-action="Checkout" class="btn btn-info btn-lg float-right" asp-route-locationId="@Model.LocationId" asp-route-vehicleId="@Model.VehicleId" asp-route-customerId="@Model.CustomerId" asp-route-refrenceNo="@Model.RefrenceNo">Checkout</a>

    <dl class="row">
        <dt class="col-sm-2">
            Booking Refrence
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RefrenceNo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kilometer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kilometer)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fee)
        </dd>

        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageUrl" class="w-50 h-50 " />
        </dd>
    </dl>
</div>
<div>
   
    
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Final Checkout", "Checkout", "Bookings")|
    <a asp-action="Index">Back to List</a>|
     
</div>
