
@model RentACarApp.ViewModels.VehicleModel

@{
    ViewData["Title"] = "MyConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 


<div>
    <h4>Please Confirm you booking details before checkout.</h4>
    <hr />
    <img src="@Model.ImageUrl" class="w-50 h-50 float-right " />
    

        <dl class="row">
            <dt class="col-sm-4">
                Booking Refrence:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.RefrenceNo)
            </dd>

            <dt class="col-sm-4">
                Hire Date:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.HireDate)
            </dd>
            <dt class="col-sm-4">
                Return Date:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ReturnDate)
            </dd>

            <dt class="col-sm-4">
                Make:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Make)
            </dd>


            <dt class="col-sm-4">
                Model:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-4">
                Year:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt class="col-sm-4">
                Kilometer:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Kilometer) Km
            </dd>

            <dt class="col-sm-4">
                Color:
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt class="col-sm-4">
                Total Booking:
            </dt>
            <dd class="col-sm-8">
                AUD @Html.DisplayFor(model => model.Fee)
            </dd>

            <dt class="col-sm-4">
                <a asp-action="Checkout" class="btn btn-dark btn-lg  float-left mt-4" asp-route-locationId="@Model.LocationId" asp-route-vehicleId="@Model.VehicleId" asp-route-customerId="@Model.CustomerId" asp-route-refrenceNo="@Model.RefrenceNo">Checkout</a>
            </dt>
            
        </dl>
         
 
</div>
